body {
    display: flex;
    flex-direction: column;
} 
/*header {
    position: relative;
    margin: 10px auto;
    font-size: 30px;
    color: rgb(138, 7, 138);
    font-weight: bolder;
}*/

canvas {
    position: relative;
    margin: 10px auto;
    border-radius: 10px;
    border:5px solid #ee9494;
}
/* @media only screen and (max-width: 900px){
    canvas {
    margin: 20px;
    }
} */