main {
    padding: 1% 2%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.1;
    font-size: 15px;
}

h1 {
    font-size: 1.8em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    opacity: 0.3;
}

h4 {
    font-weight: bold;
}

p {
    opacity: 0.5;
}


/*For the overall page paragraph should be little transparent but for footer it should be opaque*/

.footer-div p {
    opacity: 1;
}

header {
    background-color: rgb(245, 245, 245);
    display: flex;
}

header div {
    margin: auto 10%;
}

/*To change navigation bar vertical (block)*/
a {
    display: block;
    padding: 2% 0;
}

nav {
    padding-left: 10%;
    font-weight: bold;
}

/*This is for large screen to disply navigation bar inline*/
@media only screen and (min-width: 900px) {
    nav {
        display: flex;
        justify-content: flex-start;
    }

    a {
        flex-basis:content;
        padding-right: 2%;
        box-sizing: border-box;
    }    
}

#banner-image-container {
    height: 150px;
    display: flex;
}

#banner-image-container img {
    flex: 1;
    object-fit: scale-down;
    max-width: 100%;
}

/*This is for large screen to disply large image*/
@media only screen and (min-width: 900px) {
    #banner-image-container {
        height: 300px;
    }

    #banner-image-container img {
        object-fit: cover;
    }    
}

/*This is for the div which contains description of web devlopment as an industry and practical web developement */
/*This is to display first practical web development (section) and then web development (aside) vertical in mobile layout */
.flex-container {
    margin: 0 10%;
}
.flex-container section {
    margin-top: 5%;
}
.flex-container aside {
    margin-top: 5%;
    font-size: 0.8em;
}

/*This is for the large screen to display aside and section side by side*/
@media only screen and (min-width: 900px) {
    .flex-container {
        display: flex;
        justify-content: space-between;
    }  
    .flex-container section {
        flex-basis: 60%;
        order: 2;}
    .flex-container aside {
        flex-basis: 30%;
        order: 1;}
}

/*This is for the div which contains description of the gallery (aside) and logotypes on the web (section) */
.flex-container1 {
    margin: 0 10%;
}
.flex-container1 section {
    margin-top: 5%;
}

.flex-container1 aside {
    margin-top: 5%;
    font-size: 0.8em;
}

.logotypes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logotypes a {
    flex-basis: 45%;
    margin-top: 5%;
    display: flex;
    justify-content: center;    
}

.logotypes a img {
    max-width: 70px;
    max-height: 70px;
}

@media only screen and (min-width: 900px) {
    .flex-container1 {
        display: flex;
        justify-content: space-between;
    }

    .logotypes a {
        flex-basis: 23%;
    }
    .flex-container1 aside {
        flex-basis: 30%;
    }
    .flex-container1 section {
        flex-basis: 60%;
    }
}

/* Styles for footer section*/
footer {
    padding-left: 10%; 
    background-color:  rgb(122, 40, 215);
    color: white; 
    margin-top: 2%;
    line-height: 1.5;
}

.footer-div {
    padding: 5% 0;
}

.footer-div nav {
    display: block;
    padding-left: 0;
}

/*Navigation bar in the footer should not be part of mobile layout*/
.footer-div:last-child {
    display: none;
}


@media only screen and (min-width: 900px) {
    footer {
        display: flex;
        justify-content: space-between;
    }
    .footer-div {
        flex-basis: 23%;
    }
/*This is to disply navigation bar on large screen*/
    .footer-div:last-child {
        display:initial ;
    }
}